<div class="dashboard">

  <h2 class="page-title">
    Welcome to Smart Warehouse System
  </h2>

  <div class="card">

    <p>
      Logged in as:
      <strong>{{ user$ | async }}</strong>
    </p>

    <p>
      Role:
      <strong>{{ role$ | async }}</strong>
    </p>

  </div>

  <div class="card">

    <h3>Quick Actions</h3>

    <div class="actions">

      <!-- ADMIN -->
      <div *ngIf="(role$ | async) === 'ADMIN'" class="action-group">
        <button class="btn-yellow" routerLink="/users">
          Manage Users
        </button>

        <button class="btn-yellow" routerLink="/warehouses">
          Manage Warehouses
        </button>

        <button class="btn-yellow" routerLink="/products">
          Manage Products
        </button>
      </div>

      <!-- WAREHOUSE_MANAGER -->
      <div *ngIf="(role$ | async) === 'WAREHOUSE_MANAGER'" class="action-group">
        <button class="btn-yellow" routerLink="/warehouses">
          My Warehouses
        </button>

        <button class="btn-yellow" routerLink="/inventory">
          Inventory
        </button>

        <button class="btn-yellow" routerLink="/orders">
          Orders
        </button>
      </div>

      <!-- STAFF -->
      <div *ngIf="(role$ | async) === 'STAFF'" class="action-group">
        <button class="btn-yellow" routerLink="/orders">
          Assigned Orders
        </button>
      </div>

    </div>

  </div>

</div>
