<div class="app-wrapper">

  <!-- NAVBAR -->
  <nav class="navbar">

    <div class="logo">
      SMART WAREHOUSE
    </div>

    <div class="nav-links">

      <a routerLink="/dashboard">Dashboard</a>

      <a *ngIf="(role$ | async) === 'ADMIN'" routerLink="/users">
        Users
      </a>

      <a *ngIf="(role$ | async) !== 'STAFF'" routerLink="/warehouses">
        Warehouses
      </a>

      <a *ngIf="(role$ | async) !== 'STAFF'" routerLink="/products">
        Products
      </a>

      <a routerLink="/orders">
        Orders
      </a>

    </div>

    <div class="user-info" *ngIf="(token$ | async)">
      <span>{{ user$ | async }} ({{ role$ | async }})</span>
      <button class="btn-red small" (click)="logout()">Logout</button>
    </div>

  </nav>

  <!-- MAIN CONTENT -->
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>
