<div class="app-wrapper">

  <!-- NAVBAR (ONLY WHEN LOGGED IN) -->
  <nav class="navbar" *ngIf="(token$ | async)">

    <div class="logo">
      SMART WAREHOUSE
    </div>

    <div class="nav-links">

      <a routerLink="/dashboard">Dashboard</a>

      <a *ngIf="(role$ | async) === 'ADMIN'" routerLink="/users">
        Users
      </a>

      <a *ngIf="(role$ | async) !== 'STAFF'" routerLink="/warehouses">
        Warehouses
      </a>

      <a *ngIf="(role$ | async) !== 'STAFF'" routerLink="/products">
        Products
      </a>

      <!-- INVENTORY (WAREHOUSE MANAGER ONLY) -->
      <a *ngIf="(role$ | async) === 'WAREHOUSE_MANAGER'"
         routerLink="/inventory">
        Inventory
      </a>

      <a routerLink="/orders">
        Orders
      </a>

    </div>

    <div class="user-info">
      <span>
        {{ user$ | async }} ({{ role$ | async }})
      </span>
      <button class="btn-red small" (click)="logout()">Logout</button>
    </div>

  </nav>

  <!-- MAIN CONTENT -->
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>
